Proyecto/Proyecto-APSNET/Proyecto-APSNET/Web References/otrowebservice/otrowebservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice/" targetNamespace="http://webservice/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AGREGARCONOCIMIENTO" type="tns:AGREGARCONOCIMIENTO" />
  <xs:element name="AGREGARCONOCIMIENTOResponse" type="tns:AGREGARCONOCIMIENTOResponse" />
  <xs:element name="AGREGARHABILIDAD" type="tns:AGREGARHABILIDAD" />
  <xs:element name="AGREGARHABILIDADResponse" type="tns:AGREGARHABILIDADResponse" />
  <xs:element name="CREARBACKUPEYC" type="tns:CREARBACKUPEYC" />
  <xs:element name="CREARBACKUPEYCResponse" type="tns:CREARBACKUPEYCResponse" />
  <xs:element name="ELIMINARCOMENTARIO" type="tns:ELIMINARCOMENTARIO" />
  <xs:element name="ELIMINARCOMENTARIOResponse" type="tns:ELIMINARCOMENTARIOResponse" />
  <xs:element name="ELIMINARESTADODEFINITIVO" type="tns:ELIMINARESTADODEFINITIVO" />
  <xs:element name="ELIMINARESTADODEFINITIVOResponse" type="tns:ELIMINARESTADODEFINITIVOResponse" />
  <xs:element name="ELIMINARESTADODELCOMENTARIO" type="tns:ELIMINARESTADODELCOMENTARIO" />
  <xs:element name="ELIMINARESTADODELCOMENTARIOResponse" type="tns:ELIMINARESTADODELCOMENTARIOResponse" />
  <xs:element name="ELIMINARPROYECTO" type="tns:ELIMINARPROYECTO" />
  <xs:element name="ELIMINARPROYECTOResponse" type="tns:ELIMINARPROYECTOResponse" />
  <xs:element name="ELIMINARPROYLISTATAREA" type="tns:ELIMINARPROYLISTATAREA" />
  <xs:element name="ELIMINARPROYLISTATAREAResponse" type="tns:ELIMINARPROYLISTATAREAResponse" />
  <xs:element name="ELIMINARTAREA" type="tns:ELIMINARTAREA" />
  <xs:element name="ELIMINARTAREAResponse" type="tns:ELIMINARTAREAResponse" />
  <xs:element name="ELIMINARTARLISTATAREA" type="tns:ELIMINARTARLISTATAREA" />
  <xs:element name="ELIMINARTARLISTATAREAResponse" type="tns:ELIMINARTARLISTATAREAResponse" />
  <xs:element name="ELIMINARUSPROY" type="tns:ELIMINARUSPROY" />
  <xs:element name="ELIMINARUSPROYResponse" type="tns:ELIMINARUSPROYResponse" />
  <xs:element name="ELIMINARUSTAR" type="tns:ELIMINARUSTAR" />
  <xs:element name="ELIMINARUSTARResponse" type="tns:ELIMINARUSTARResponse" />
  <xs:element name="ESPROYECTOMANAGER" type="tns:ESPROYECTOMANAGER" />
  <xs:element name="ESPROYECTOMANAGERResponse" type="tns:ESPROYECTOMANAGERResponse" />
  <xs:element name="LISTACON" type="tns:LISTACON" />
  <xs:element name="LISTACONResponse" type="tns:LISTACONResponse" />
  <xs:element name="LISTAPROYNF" type="tns:LISTAPROYNF" />
  <xs:element name="LISTAPROYNFResponse" type="tns:LISTAPROYNFResponse" />
  <xs:element name="LISTATAREASNF" type="tns:LISTATAREASNF" />
  <xs:element name="LISTATAREASNFResponse" type="tns:LISTATAREASNFResponse" />
  <xs:element name="OBTENERCON" type="tns:OBTENERCON" />
  <xs:element name="OBTENERCONResponse" type="tns:OBTENERCONResponse" />
  <xs:element name="PROYECTOENPROCESO" type="tns:PROYECTOENPROCESO" />
  <xs:element name="PROYECTOENPROCESOResponse" type="tns:PROYECTOENPROCESOResponse" />
  <xs:element name="PROYECTOFINALIZADO" type="tns:PROYECTOFINALIZADO" />
  <xs:element name="PROYECTOFINALIZADOResponse" type="tns:PROYECTOFINALIZADOResponse" />
  <xs:element name="PROYECTOINACTIVO" type="tns:PROYECTOINACTIVO" />
  <xs:element name="PROYECTOINACTIVOResponse" type="tns:PROYECTOINACTIVOResponse" />
  <xs:element name="TAREAENPROCESO" type="tns:TAREAENPROCESO" />
  <xs:element name="TAREAENPROCESOResponse" type="tns:TAREAENPROCESOResponse" />
  <xs:element name="TAREAFINALIZADO" type="tns:TAREAFINALIZADO" />
  <xs:element name="TAREAFINALIZADOResponse" type="tns:TAREAFINALIZADOResponse" />
  <xs:element name="TAREAINACTIVO" type="tns:TAREAINACTIVO" />
  <xs:element name="TAREAINACTIVOResponse" type="tns:TAREAINACTIVOResponse" />
  <xs:complexType name="LISTAPROYNF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTAPROYNFResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AGREGARHABILIDAD">
    <xs:sequence>
      <xs:element minOccurs="0" name="hab" type="xs:string" />
      <xs:element name="con" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AGREGARHABILIDADResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOFINALIZADO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOFINALIZADOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAFINALIZADO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAFINALIZADOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBTENERCON">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBTENERCONResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAENPROCESO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAENPROCESOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARTARLISTATAREA">
    <xs:sequence>
      <xs:element name="Tarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARTARLISTATAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARPROYLISTATAREA">
    <xs:sequence>
      <xs:element name="Proyecto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARPROYLISTATAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARTAREA">
    <xs:sequence>
      <xs:element name="Tarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARTAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTACON">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTACONResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESPROYECTOMANAGER">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESPROYECTOMANAGERResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CREARBACKUPEYC">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="CREARBACKUPEYCResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARESTADODEFINITIVO">
    <xs:sequence>
      <xs:element name="Estado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARESTADODEFINITIVOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARUSTAR">
    <xs:sequence>
      <xs:element name="Tarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARUSTARResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARESTADODELCOMENTARIO">
    <xs:sequence>
      <xs:element name="Estado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARESTADODELCOMENTARIOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOENPROCESO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOENPROCESOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOINACTIVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOINACTIVOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARCOMENTARIO">
    <xs:sequence>
      <xs:element name="Comentario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARCOMENTARIOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AGREGARCONOCIMIENTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="conocimiento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AGREGARCONOCIMIENTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTATAREASNF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTATAREASNFResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARPROYECTO">
    <xs:sequence>
      <xs:element name="Proyecto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARPROYECTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARUSPROY">
    <xs:sequence>
      <xs:element name="Proyecto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARUSPROYResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAINACTIVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAINACTIVOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>