Proyecto/Proyecto-APSNET/Proyecto-APSNET/Web References/otrowebservice/otrowebservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice/" targetNamespace="http://webservice/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AGREGARCONOCIMIENTO" type="tns:AGREGARCONOCIMIENTO" />
  <xs:element name="AGREGARCONOCIMIENTOResponse" type="tns:AGREGARCONOCIMIENTOResponse" />
  <xs:element name="AGREGARHABILIDAD" type="tns:AGREGARHABILIDAD" />
  <xs:element name="AGREGARHABILIDADResponse" type="tns:AGREGARHABILIDADResponse" />
  <xs:element name="ASIGNARCONOCIMIENTO" type="tns:ASIGNARCONOCIMIENTO" />
  <xs:element name="ASIGNARCONOCIMIENTOResponse" type="tns:ASIGNARCONOCIMIENTOResponse" />
  <xs:element name="CALIFICARCONOCIMIENTO" type="tns:CALIFICARCONOCIMIENTO" />
  <xs:element name="CALIFICARCONOCIMIENTOResponse" type="tns:CALIFICARCONOCIMIENTOResponse" />
  <xs:element name="COMPARACIONCONOCIMIENTO" type="tns:COMPARACIONCONOCIMIENTO" />
  <xs:element name="COMPARACIONCONOCIMIENTOResponse" type="tns:COMPARACIONCONOCIMIENTOResponse" />
  <xs:element name="CONOCIMIENTOSDISPONIBLES" type="tns:CONOCIMIENTOSDISPONIBLES" />
  <xs:element name="CONOCIMIENTOSDISPONIBLESResponse" type="tns:CONOCIMIENTOSDISPONIBLESResponse" />
  <xs:element name="CREARBACKUPEYC" type="tns:CREARBACKUPEYC" />
  <xs:element name="CREARBACKUPEYCResponse" type="tns:CREARBACKUPEYCResponse" />
  <xs:element name="CREARBACKUPP" type="tns:CREARBACKUPP" />
  <xs:element name="CREARBACKUPPResponse" type="tns:CREARBACKUPPResponse" />
  <xs:element name="CREARBACKUPTI" type="tns:CREARBACKUPTI" />
  <xs:element name="CREARBACKUPTIResponse" type="tns:CREARBACKUPTIResponse" />
  <xs:element name="ELIMINARCOMENTARIO" type="tns:ELIMINARCOMENTARIO" />
  <xs:element name="ELIMINARCOMENTARIOResponse" type="tns:ELIMINARCOMENTARIOResponse" />
  <xs:element name="ELIMINARESTADODEFINITIVO" type="tns:ELIMINARESTADODEFINITIVO" />
  <xs:element name="ELIMINARESTADODEFINITIVOResponse" type="tns:ELIMINARESTADODEFINITIVOResponse" />
  <xs:element name="ELIMINARESTADODELCOMENTARIO" type="tns:ELIMINARESTADODELCOMENTARIO" />
  <xs:element name="ELIMINARESTADODELCOMENTARIOResponse" type="tns:ELIMINARESTADODELCOMENTARIOResponse" />
  <xs:element name="ELIMINARPROYECTO" type="tns:ELIMINARPROYECTO" />
  <xs:element name="ELIMINARPROYECTOResponse" type="tns:ELIMINARPROYECTOResponse" />
  <xs:element name="ELIMINARPROYLISTATAREA" type="tns:ELIMINARPROYLISTATAREA" />
  <xs:element name="ELIMINARPROYLISTATAREAResponse" type="tns:ELIMINARPROYLISTATAREAResponse" />
  <xs:element name="ELIMINARTAREA" type="tns:ELIMINARTAREA" />
  <xs:element name="ELIMINARTAREAResponse" type="tns:ELIMINARTAREAResponse" />
  <xs:element name="ELIMINARTARLISTATAREA" type="tns:ELIMINARTARLISTATAREA" />
  <xs:element name="ELIMINARTARLISTATAREAResponse" type="tns:ELIMINARTARLISTATAREAResponse" />
  <xs:element name="ELIMINARUSPROY" type="tns:ELIMINARUSPROY" />
  <xs:element name="ELIMINARUSPROYResponse" type="tns:ELIMINARUSPROYResponse" />
  <xs:element name="ELIMINARUSTAR" type="tns:ELIMINARUSTAR" />
  <xs:element name="ELIMINARUSTARResponse" type="tns:ELIMINARUSTARResponse" />
  <xs:element name="ESPROYECTOMANAGER" type="tns:ESPROYECTOMANAGER" />
  <xs:element name="ESPROYECTOMANAGERResponse" type="tns:ESPROYECTOMANAGERResponse" />
  <xs:element name="ESTRABAJADOR" type="tns:ESTRABAJADOR" />
  <xs:element name="ESTRABAJADORResponse" type="tns:ESTRABAJADORResponse" />
  <xs:element name="HASTRABAJADOEP" type="tns:HASTRABAJADOEP" />
  <xs:element name="HASTRABAJADOEPResponse" type="tns:HASTRABAJADOEPResponse" />
  <xs:element name="HASTRABAJADOF" type="tns:HASTRABAJADOF" />
  <xs:element name="HASTRABAJADOFResponse" type="tns:HASTRABAJADOFResponse" />
  <xs:element name="HASTRABAJADOI" type="tns:HASTRABAJADOI" />
  <xs:element name="HASTRABAJADOIResponse" type="tns:HASTRABAJADOIResponse" />
  <xs:element name="INICIARPROYECTO" type="tns:INICIARPROYECTO" />
  <xs:element name="INICIARPROYECTOResponse" type="tns:INICIARPROYECTOResponse" />
  <xs:element name="INICIARTAREA" type="tns:INICIARTAREA" />
  <xs:element name="INICIARTAREAResponse" type="tns:INICIARTAREAResponse" />
  <xs:element name="LISTACON" type="tns:LISTACON" />
  <xs:element name="LISTACONResponse" type="tns:LISTACONResponse" />
  <xs:element name="LISTADOPARACALIFICAR" type="tns:LISTADOPARACALIFICAR" />
  <xs:element name="LISTADOPARACALIFICARResponse" type="tns:LISTADOPARACALIFICARResponse" />
  <xs:element name="LISTAPROYNF" type="tns:LISTAPROYNF" />
  <xs:element name="LISTAPROYNFResponse" type="tns:LISTAPROYNFResponse" />
  <xs:element name="LISTATAREASNF" type="tns:LISTATAREASNF" />
  <xs:element name="LISTATAREASNFResponse" type="tns:LISTATAREASNFResponse" />
  <xs:element name="OBTENERCON" type="tns:OBTENERCON" />
  <xs:element name="OBTENERCONResponse" type="tns:OBTENERCONResponse" />
  <xs:element name="PROYECTOENPROCESO" type="tns:PROYECTOENPROCESO" />
  <xs:element name="PROYECTOENPROCESOResponse" type="tns:PROYECTOENPROCESOResponse" />
  <xs:element name="PROYECTOFINALIZADO" type="tns:PROYECTOFINALIZADO" />
  <xs:element name="PROYECTOFINALIZADOResponse" type="tns:PROYECTOFINALIZADOResponse" />
  <xs:element name="PROYECTOINACTIVO" type="tns:PROYECTOINACTIVO" />
  <xs:element name="PROYECTOINACTIVOResponse" type="tns:PROYECTOINACTIVOResponse" />
  <xs:element name="TAREAENPROCESO" type="tns:TAREAENPROCESO" />
  <xs:element name="TAREAENPROCESOPUBLICO" type="tns:TAREAENPROCESOPUBLICO" />
  <xs:element name="TAREAENPROCESOPUBLICOResponse" type="tns:TAREAENPROCESOPUBLICOResponse" />
  <xs:element name="TAREAENPROCESOResponse" type="tns:TAREAENPROCESOResponse" />
  <xs:element name="TAREAFINALIZADO" type="tns:TAREAFINALIZADO" />
  <xs:element name="TAREAFINALIZADOPUBLICO" type="tns:TAREAFINALIZADOPUBLICO" />
  <xs:element name="TAREAFINALIZADOPUBLICOResponse" type="tns:TAREAFINALIZADOPUBLICOResponse" />
  <xs:element name="TAREAFINALIZADOResponse" type="tns:TAREAFINALIZADOResponse" />
  <xs:element name="TAREAINACTIVO" type="tns:TAREAINACTIVO" />
  <xs:element name="TAREAINACTIVOPUBLICO" type="tns:TAREAINACTIVOPUBLICO" />
  <xs:element name="TAREAINACTIVOPUBLICOResponse" type="tns:TAREAINACTIVOPUBLICOResponse" />
  <xs:element name="TAREAINACTIVOResponse" type="tns:TAREAINACTIVOResponse" />
  <xs:element name="TERMINARPROYECTO" type="tns:TERMINARPROYECTO" />
  <xs:element name="TERMINARPROYECTOResponse" type="tns:TERMINARPROYECTOResponse" />
  <xs:element name="TERMINARTAREA" type="tns:TERMINARTAREA" />
  <xs:element name="TERMINARTAREAResponse" type="tns:TERMINARTAREAResponse" />
  <xs:element name="TRABAJASPARA" type="tns:TRABAJASPARA" />
  <xs:element name="TRABAJASPARAResponse" type="tns:TRABAJASPARAResponse" />
  <xs:element name="TUSCOMPAÑEROSSON" type="tns:TUSCOMPAÑEROSSON" />
  <xs:element name="TUSCOMPAÑEROSSONResponse" type="tns:TUSCOMPAÑEROSSONResponse" />
  <xs:element name="TUSCOMPAÑEROSTAREA" type="tns:TUSCOMPAÑEROSTAREA" />
  <xs:element name="TUSCOMPAÑEROSTAREAResponse" type="tns:TUSCOMPAÑEROSTAREAResponse" />
  <xs:element name="TUSCONOCIMIENTOS" type="tns:TUSCONOCIMIENTOS" />
  <xs:element name="TUSCONOCIMIENTOSResponse" type="tns:TUSCONOCIMIENTOSResponse" />
  <xs:element name="TUSHABILIDADES" type="tns:TUSHABILIDADES" />
  <xs:element name="TUSHABILIDADESResponse" type="tns:TUSHABILIDADESResponse" />
  <xs:complexType name="LISTAPROYNF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTAPROYNFResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESTRABAJADOR">
    <xs:sequence>
      <xs:element name="usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESTRABAJADORResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAENPROCESOPUBLICO">
    <xs:sequence>
      <xs:element name="creador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAENPROCESOPUBLICOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TERMINARPROYECTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="proyecto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TERMINARPROYECTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAFINALIZADO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAFINALIZADOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ASIGNARCONOCIMIENTO">
    <xs:sequence>
      <xs:element name="usuario" type="xs:int" />
      <xs:element name="con" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ASIGNARCONOCIMIENTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBTENERCON">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBTENERCONResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAFINALIZADOPUBLICO">
    <xs:sequence>
      <xs:element name="creador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAFINALIZADOPUBLICOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARPROYLISTATAREA">
    <xs:sequence>
      <xs:element name="Proyecto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARPROYLISTATAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CREARBACKUPTI">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="CREARBACKUPTIResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HASTRABAJADOEP">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HASTRABAJADOEPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CREARBACKUPEYC">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="CREARBACKUPEYCResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TUSCONOCIMIENTOS">
    <xs:sequence>
      <xs:element name="usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TUSCONOCIMIENTOSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INICIARPROYECTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="proyecto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INICIARPROYECTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TUSCOMPAÑEROSSON">
    <xs:sequence>
      <xs:element minOccurs="0" name="proyecto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TUSCOMPAÑEROSSONResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARUSTAR">
    <xs:sequence>
      <xs:element name="Tarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARUSTARResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARESTADODELCOMENTARIO">
    <xs:sequence>
      <xs:element name="Estado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARESTADODELCOMENTARIOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOENPROCESO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOENPROCESOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CALIFICARCONOCIMIENTO">
    <xs:sequence>
      <xs:element name="positivo" type="xs:int" />
      <xs:element name="negativo" type="xs:int" />
      <xs:element name="usuario" type="xs:int" />
      <xs:element name="con" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CALIFICARCONOCIMIENTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOINACTIVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOINACTIVOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARCOMENTARIO">
    <xs:sequence>
      <xs:element name="Comentario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARCOMENTARIOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AGREGARCONOCIMIENTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="conocimiento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AGREGARCONOCIMIENTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTADOPARACALIFICAR">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTADOPARACALIFICARResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARPROYECTO">
    <xs:sequence>
      <xs:element name="Proyecto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARPROYECTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CONOCIMIENTOSDISPONIBLES">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="CONOCIMIENTOSDISPONIBLESResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AGREGARHABILIDAD">
    <xs:sequence>
      <xs:element minOccurs="0" name="hab" type="xs:string" />
      <xs:element name="con" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AGREGARHABILIDADResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOFINALIZADO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOFINALIZADOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRABAJASPARA">
    <xs:sequence>
      <xs:element name="usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRABAJASPARAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TERMINARTAREA">
    <xs:sequence>
      <xs:element minOccurs="0" name="tarea" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TERMINARTAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COMPARACIONCONOCIMIENTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COMPARACIONCONOCIMIENTOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INICIARTAREA">
    <xs:sequence>
      <xs:element minOccurs="0" name="tarea" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INICIARTAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAENPROCESO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAENPROCESOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARTARLISTATAREA">
    <xs:sequence>
      <xs:element name="Tarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARTARLISTATAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CREARBACKUPP">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="CREARBACKUPPResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARTAREA">
    <xs:sequence>
      <xs:element name="Tarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARTAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HASTRABAJADOI">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HASTRABAJADOIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TUSHABILIDADES">
    <xs:sequence>
      <xs:element name="usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TUSHABILIDADESResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTACON">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTACONResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HASTRABAJADOF">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HASTRABAJADOFResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TUSCOMPAÑEROSTAREA">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="TUSCOMPAÑEROSTAREAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESPROYECTOMANAGER">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESPROYECTOMANAGERResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAINACTIVOPUBLICO">
    <xs:sequence>
      <xs:element name="creador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAINACTIVOPUBLICOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARESTADODEFINITIVO">
    <xs:sequence>
      <xs:element name="Estado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARESTADODEFINITIVOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTATAREASNF">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTATAREASNFResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARUSPROY">
    <xs:sequence>
      <xs:element name="Proyecto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARUSPROYResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAINACTIVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="creador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREAINACTIVOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>