Proyecto/Proyecto-APSNET/Proyecto-APSNET/Web References/otrowebservice/otrowebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="otrowebservice" targetNamespace="http://webservice/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/Proyecto-Java/otrowebservice?xsd=1" namespace="http://webservice/" />
    </xsd:schema>
  </types>
  <message name="OBTENERCON">
    <part name="parameters" element="tns:OBTENERCON" />
  </message>
  <message name="OBTENERCONResponse">
    <part name="parameters" element="tns:OBTENERCONResponse" />
  </message>
  <message name="PROYECTOINACTIVO">
    <part name="parameters" element="tns:PROYECTOINACTIVO" />
  </message>
  <message name="PROYECTOINACTIVOResponse">
    <part name="parameters" element="tns:PROYECTOINACTIVOResponse" />
  </message>
  <message name="TAREAINACTIVO">
    <part name="parameters" element="tns:TAREAINACTIVO" />
  </message>
  <message name="TAREAINACTIVOResponse">
    <part name="parameters" element="tns:TAREAINACTIVOResponse" />
  </message>
  <message name="TAREAENPROCESO">
    <part name="parameters" element="tns:TAREAENPROCESO" />
  </message>
  <message name="TAREAENPROCESOResponse">
    <part name="parameters" element="tns:TAREAENPROCESOResponse" />
  </message>
  <message name="TAREAFINALIZADO">
    <part name="parameters" element="tns:TAREAFINALIZADO" />
  </message>
  <message name="TAREAFINALIZADOResponse">
    <part name="parameters" element="tns:TAREAFINALIZADOResponse" />
  </message>
  <message name="HASTRABAJADOEP">
    <part name="parameters" element="tns:HASTRABAJADOEP" />
  </message>
  <message name="HASTRABAJADOEPResponse">
    <part name="parameters" element="tns:HASTRABAJADOEPResponse" />
  </message>
  <message name="HASTRABAJADOF">
    <part name="parameters" element="tns:HASTRABAJADOF" />
  </message>
  <message name="HASTRABAJADOFResponse">
    <part name="parameters" element="tns:HASTRABAJADOFResponse" />
  </message>
  <message name="HASTRABAJADOI">
    <part name="parameters" element="tns:HASTRABAJADOI" />
  </message>
  <message name="HASTRABAJADOIResponse">
    <part name="parameters" element="tns:HASTRABAJADOIResponse" />
  </message>
  <message name="LISTAPROYNF">
    <part name="parameters" element="tns:LISTAPROYNF" />
  </message>
  <message name="LISTAPROYNFResponse">
    <part name="parameters" element="tns:LISTAPROYNFResponse" />
  </message>
  <message name="LISTATAREASNF">
    <part name="parameters" element="tns:LISTATAREASNF" />
  </message>
  <message name="LISTATAREASNFResponse">
    <part name="parameters" element="tns:LISTATAREASNFResponse" />
  </message>
  <message name="ELIMINARUSPROY">
    <part name="parameters" element="tns:ELIMINARUSPROY" />
  </message>
  <message name="ELIMINARUSPROYResponse">
    <part name="parameters" element="tns:ELIMINARUSPROYResponse" />
  </message>
  <message name="LISTACON">
    <part name="parameters" element="tns:LISTACON" />
  </message>
  <message name="LISTACONResponse">
    <part name="parameters" element="tns:LISTACONResponse" />
  </message>
  <message name="ELIMINARPROYECTO">
    <part name="parameters" element="tns:ELIMINARPROYECTO" />
  </message>
  <message name="ELIMINARPROYECTOResponse">
    <part name="parameters" element="tns:ELIMINARPROYECTOResponse" />
  </message>
  <message name="ELIMINARUSTAR">
    <part name="parameters" element="tns:ELIMINARUSTAR" />
  </message>
  <message name="ELIMINARUSTARResponse">
    <part name="parameters" element="tns:ELIMINARUSTARResponse" />
  </message>
  <message name="ELIMINARTAREA">
    <part name="parameters" element="tns:ELIMINARTAREA" />
  </message>
  <message name="ELIMINARTAREAResponse">
    <part name="parameters" element="tns:ELIMINARTAREAResponse" />
  </message>
  <message name="CREARBACKUPEYC">
    <part name="parameters" element="tns:CREARBACKUPEYC" />
  </message>
  <message name="CREARBACKUPEYCResponse">
    <part name="parameters" element="tns:CREARBACKUPEYCResponse" />
  </message>
  <message name="ELIMINARPROYLISTATAREA">
    <part name="parameters" element="tns:ELIMINARPROYLISTATAREA" />
  </message>
  <message name="ELIMINARPROYLISTATAREAResponse">
    <part name="parameters" element="tns:ELIMINARPROYLISTATAREAResponse" />
  </message>
  <message name="ELIMINARESTADODELCOMENTARIO">
    <part name="parameters" element="tns:ELIMINARESTADODELCOMENTARIO" />
  </message>
  <message name="ELIMINARESTADODELCOMENTARIOResponse">
    <part name="parameters" element="tns:ELIMINARESTADODELCOMENTARIOResponse" />
  </message>
  <message name="ELIMINARESTADODEFINITIVO">
    <part name="parameters" element="tns:ELIMINARESTADODEFINITIVO" />
  </message>
  <message name="ELIMINARESTADODEFINITIVOResponse">
    <part name="parameters" element="tns:ELIMINARESTADODEFINITIVOResponse" />
  </message>
  <message name="ELIMINARCOMENTARIO">
    <part name="parameters" element="tns:ELIMINARCOMENTARIO" />
  </message>
  <message name="ELIMINARCOMENTARIOResponse">
    <part name="parameters" element="tns:ELIMINARCOMENTARIOResponse" />
  </message>
  <message name="ELIMINARTARLISTATAREA">
    <part name="parameters" element="tns:ELIMINARTARLISTATAREA" />
  </message>
  <message name="ELIMINARTARLISTATAREAResponse">
    <part name="parameters" element="tns:ELIMINARTARLISTATAREAResponse" />
  </message>
  <message name="AGREGARCONOCIMIENTO">
    <part name="parameters" element="tns:AGREGARCONOCIMIENTO" />
  </message>
  <message name="AGREGARCONOCIMIENTOResponse">
    <part name="parameters" element="tns:AGREGARCONOCIMIENTOResponse" />
  </message>
  <message name="PROYECTOENPROCESO">
    <part name="parameters" element="tns:PROYECTOENPROCESO" />
  </message>
  <message name="PROYECTOENPROCESOResponse">
    <part name="parameters" element="tns:PROYECTOENPROCESOResponse" />
  </message>
  <message name="PROYECTOFINALIZADO">
    <part name="parameters" element="tns:PROYECTOFINALIZADO" />
  </message>
  <message name="PROYECTOFINALIZADOResponse">
    <part name="parameters" element="tns:PROYECTOFINALIZADOResponse" />
  </message>
  <message name="COMPARACIONCONOCIMIENTO">
    <part name="parameters" element="tns:COMPARACIONCONOCIMIENTO" />
  </message>
  <message name="COMPARACIONCONOCIMIENTOResponse">
    <part name="parameters" element="tns:COMPARACIONCONOCIMIENTOResponse" />
  </message>
  <message name="ESPROYECTOMANAGER">
    <part name="parameters" element="tns:ESPROYECTOMANAGER" />
  </message>
  <message name="ESPROYECTOMANAGERResponse">
    <part name="parameters" element="tns:ESPROYECTOMANAGERResponse" />
  </message>
  <message name="AGREGARHABILIDAD">
    <part name="parameters" element="tns:AGREGARHABILIDAD" />
  </message>
  <message name="AGREGARHABILIDADResponse">
    <part name="parameters" element="tns:AGREGARHABILIDADResponse" />
  </message>
  <portType name="otrowebservice">
    <operation name="OBTENERCON">
      <input wsam:Action="http://webservice/otrowebservice/OBTENERCONRequest" message="tns:OBTENERCON" />
      <output wsam:Action="http://webservice/otrowebservice/OBTENERCONResponse" message="tns:OBTENERCONResponse" />
    </operation>
    <operation name="PROYECTOINACTIVO">
      <input wsam:Action="http://webservice/otrowebservice/PROYECTOINACTIVORequest" message="tns:PROYECTOINACTIVO" />
      <output wsam:Action="http://webservice/otrowebservice/PROYECTOINACTIVOResponse" message="tns:PROYECTOINACTIVOResponse" />
    </operation>
    <operation name="TAREAINACTIVO">
      <input wsam:Action="http://webservice/otrowebservice/TAREAINACTIVORequest" message="tns:TAREAINACTIVO" />
      <output wsam:Action="http://webservice/otrowebservice/TAREAINACTIVOResponse" message="tns:TAREAINACTIVOResponse" />
    </operation>
    <operation name="TAREAENPROCESO">
      <input wsam:Action="http://webservice/otrowebservice/TAREAENPROCESORequest" message="tns:TAREAENPROCESO" />
      <output wsam:Action="http://webservice/otrowebservice/TAREAENPROCESOResponse" message="tns:TAREAENPROCESOResponse" />
    </operation>
    <operation name="TAREAFINALIZADO">
      <input wsam:Action="http://webservice/otrowebservice/TAREAFINALIZADORequest" message="tns:TAREAFINALIZADO" />
      <output wsam:Action="http://webservice/otrowebservice/TAREAFINALIZADOResponse" message="tns:TAREAFINALIZADOResponse" />
    </operation>
    <operation name="HASTRABAJADOEP">
      <input wsam:Action="http://webservice/otrowebservice/HASTRABAJADOEPRequest" message="tns:HASTRABAJADOEP" />
      <output wsam:Action="http://webservice/otrowebservice/HASTRABAJADOEPResponse" message="tns:HASTRABAJADOEPResponse" />
    </operation>
    <operation name="HASTRABAJADOF">
      <input wsam:Action="http://webservice/otrowebservice/HASTRABAJADOFRequest" message="tns:HASTRABAJADOF" />
      <output wsam:Action="http://webservice/otrowebservice/HASTRABAJADOFResponse" message="tns:HASTRABAJADOFResponse" />
    </operation>
    <operation name="HASTRABAJADOI">
      <input wsam:Action="http://webservice/otrowebservice/HASTRABAJADOIRequest" message="tns:HASTRABAJADOI" />
      <output wsam:Action="http://webservice/otrowebservice/HASTRABAJADOIResponse" message="tns:HASTRABAJADOIResponse" />
    </operation>
    <operation name="LISTAPROYNF">
      <input wsam:Action="http://webservice/otrowebservice/LISTAPROYNFRequest" message="tns:LISTAPROYNF" />
      <output wsam:Action="http://webservice/otrowebservice/LISTAPROYNFResponse" message="tns:LISTAPROYNFResponse" />
    </operation>
    <operation name="LISTATAREASNF">
      <input wsam:Action="http://webservice/otrowebservice/LISTATAREASNFRequest" message="tns:LISTATAREASNF" />
      <output wsam:Action="http://webservice/otrowebservice/LISTATAREASNFResponse" message="tns:LISTATAREASNFResponse" />
    </operation>
    <operation name="ELIMINARUSPROY">
      <input wsam:Action="http://webservice/otrowebservice/ELIMINARUSPROYRequest" message="tns:ELIMINARUSPROY" />
      <output wsam:Action="http://webservice/otrowebservice/ELIMINARUSPROYResponse" message="tns:ELIMINARUSPROYResponse" />
    </operation>
    <operation name="LISTACON">
      <input wsam:Action="http://webservice/otrowebservice/LISTACONRequest" message="tns:LISTACON" />
      <output wsam:Action="http://webservice/otrowebservice/LISTACONResponse" message="tns:LISTACONResponse" />
    </operation>
    <operation name="ELIMINARPROYECTO">
      <input wsam:Action="http://webservice/otrowebservice/ELIMINARPROYECTORequest" message="tns:ELIMINARPROYECTO" />
      <output wsam:Action="http://webservice/otrowebservice/ELIMINARPROYECTOResponse" message="tns:ELIMINARPROYECTOResponse" />
    </operation>
    <operation name="ELIMINARUSTAR">
      <input wsam:Action="http://webservice/otrowebservice/ELIMINARUSTARRequest" message="tns:ELIMINARUSTAR" />
      <output wsam:Action="http://webservice/otrowebservice/ELIMINARUSTARResponse" message="tns:ELIMINARUSTARResponse" />
    </operation>
    <operation name="ELIMINARTAREA">
      <input wsam:Action="http://webservice/otrowebservice/ELIMINARTAREARequest" message="tns:ELIMINARTAREA" />
      <output wsam:Action="http://webservice/otrowebservice/ELIMINARTAREAResponse" message="tns:ELIMINARTAREAResponse" />
    </operation>
    <operation name="CREARBACKUPEYC">
      <input wsam:Action="http://webservice/otrowebservice/CREARBACKUPEYCRequest" message="tns:CREARBACKUPEYC" />
      <output wsam:Action="http://webservice/otrowebservice/CREARBACKUPEYCResponse" message="tns:CREARBACKUPEYCResponse" />
    </operation>
    <operation name="ELIMINARPROYLISTATAREA">
      <input wsam:Action="http://webservice/otrowebservice/ELIMINARPROYLISTATAREARequest" message="tns:ELIMINARPROYLISTATAREA" />
      <output wsam:Action="http://webservice/otrowebservice/ELIMINARPROYLISTATAREAResponse" message="tns:ELIMINARPROYLISTATAREAResponse" />
    </operation>
    <operation name="ELIMINARESTADODELCOMENTARIO">
      <input wsam:Action="http://webservice/otrowebservice/ELIMINARESTADODELCOMENTARIORequest" message="tns:ELIMINARESTADODELCOMENTARIO" />
      <output wsam:Action="http://webservice/otrowebservice/ELIMINARESTADODELCOMENTARIOResponse" message="tns:ELIMINARESTADODELCOMENTARIOResponse" />
    </operation>
    <operation name="ELIMINARESTADODEFINITIVO">
      <input wsam:Action="http://webservice/otrowebservice/ELIMINARESTADODEFINITIVORequest" message="tns:ELIMINARESTADODEFINITIVO" />
      <output wsam:Action="http://webservice/otrowebservice/ELIMINARESTADODEFINITIVOResponse" message="tns:ELIMINARESTADODEFINITIVOResponse" />
    </operation>
    <operation name="ELIMINARCOMENTARIO">
      <input wsam:Action="http://webservice/otrowebservice/ELIMINARCOMENTARIORequest" message="tns:ELIMINARCOMENTARIO" />
      <output wsam:Action="http://webservice/otrowebservice/ELIMINARCOMENTARIOResponse" message="tns:ELIMINARCOMENTARIOResponse" />
    </operation>
    <operation name="ELIMINARTARLISTATAREA">
      <input wsam:Action="http://webservice/otrowebservice/ELIMINARTARLISTATAREARequest" message="tns:ELIMINARTARLISTATAREA" />
      <output wsam:Action="http://webservice/otrowebservice/ELIMINARTARLISTATAREAResponse" message="tns:ELIMINARTARLISTATAREAResponse" />
    </operation>
    <operation name="AGREGARCONOCIMIENTO">
      <input wsam:Action="http://webservice/otrowebservice/AGREGARCONOCIMIENTORequest" message="tns:AGREGARCONOCIMIENTO" />
      <output wsam:Action="http://webservice/otrowebservice/AGREGARCONOCIMIENTOResponse" message="tns:AGREGARCONOCIMIENTOResponse" />
    </operation>
    <operation name="PROYECTOENPROCESO">
      <input wsam:Action="http://webservice/otrowebservice/PROYECTOENPROCESORequest" message="tns:PROYECTOENPROCESO" />
      <output wsam:Action="http://webservice/otrowebservice/PROYECTOENPROCESOResponse" message="tns:PROYECTOENPROCESOResponse" />
    </operation>
    <operation name="PROYECTOFINALIZADO">
      <input wsam:Action="http://webservice/otrowebservice/PROYECTOFINALIZADORequest" message="tns:PROYECTOFINALIZADO" />
      <output wsam:Action="http://webservice/otrowebservice/PROYECTOFINALIZADOResponse" message="tns:PROYECTOFINALIZADOResponse" />
    </operation>
    <operation name="COMPARACIONCONOCIMIENTO">
      <input wsam:Action="http://webservice/otrowebservice/COMPARACIONCONOCIMIENTORequest" message="tns:COMPARACIONCONOCIMIENTO" />
      <output wsam:Action="http://webservice/otrowebservice/COMPARACIONCONOCIMIENTOResponse" message="tns:COMPARACIONCONOCIMIENTOResponse" />
    </operation>
    <operation name="ESPROYECTOMANAGER">
      <input wsam:Action="http://webservice/otrowebservice/ESPROYECTOMANAGERRequest" message="tns:ESPROYECTOMANAGER" />
      <output wsam:Action="http://webservice/otrowebservice/ESPROYECTOMANAGERResponse" message="tns:ESPROYECTOMANAGERResponse" />
    </operation>
    <operation name="AGREGARHABILIDAD">
      <input wsam:Action="http://webservice/otrowebservice/AGREGARHABILIDADRequest" message="tns:AGREGARHABILIDAD" />
      <output wsam:Action="http://webservice/otrowebservice/AGREGARHABILIDADResponse" message="tns:AGREGARHABILIDADResponse" />
    </operation>
  </portType>
  <binding name="otrowebservicePortBinding" type="tns:otrowebservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="OBTENERCON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PROYECTOINACTIVO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TAREAINACTIVO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TAREAENPROCESO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TAREAFINALIZADO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="HASTRABAJADOEP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="HASTRABAJADOF">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="HASTRABAJADOI">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LISTAPROYNF">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LISTATAREASNF">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ELIMINARUSPROY">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LISTACON">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ELIMINARPROYECTO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ELIMINARUSTAR">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ELIMINARTAREA">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CREARBACKUPEYC">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ELIMINARPROYLISTATAREA">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ELIMINARESTADODELCOMENTARIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ELIMINARESTADODEFINITIVO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ELIMINARCOMENTARIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ELIMINARTARLISTATAREA">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AGREGARCONOCIMIENTO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PROYECTOENPROCESO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PROYECTOFINALIZADO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="COMPARACIONCONOCIMIENTO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ESPROYECTOMANAGER">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AGREGARHABILIDAD">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="otrowebservice">
    <port name="otrowebservicePort" binding="tns:otrowebservicePortBinding">
      <soap:address location="http://localhost:8080/Proyecto-Java/otrowebservice" />
    </port>
  </service>
</definitions>