Proyecto/Proyecto-APSNET/Proyecto-APSNET/Web References/webservice/webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="webservice" targetNamespace="http://webservice/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/Proyecto-Java/webservice?xsd=1" namespace="http://webservice/" />
    </xsd:schema>
  </types>
  <message name="Registrarse">
    <part name="parameters" element="tns:Registrarse" />
  </message>
  <message name="RegistrarseResponse">
    <part name="parameters" element="tns:RegistrarseResponse" />
  </message>
  <message name="IniciarSesion">
    <part name="parameters" element="tns:IniciarSesion" />
  </message>
  <message name="IniciarSesionResponse">
    <part name="parameters" element="tns:IniciarSesionResponse" />
  </message>
  <message name="PublicarEstado">
    <part name="parameters" element="tns:PublicarEstado" />
  </message>
  <message name="PublicarEstadoResponse">
    <part name="parameters" element="tns:PublicarEstadoResponse" />
  </message>
  <message name="obtenerIDEst">
    <part name="parameters" element="tns:obtenerIDEst" />
  </message>
  <message name="obtenerIDEstResponse">
    <part name="parameters" element="tns:obtenerIDEstResponse" />
  </message>
  <message name="obtenerIDUS">
    <part name="parameters" element="tns:obtenerIDUS" />
  </message>
  <message name="obtenerIDUSResponse">
    <part name="parameters" element="tns:obtenerIDUSResponse" />
  </message>
  <message name="desplegarEstados">
    <part name="parameters" element="tns:desplegarEstados" />
  </message>
  <message name="desplegarEstadosResponse">
    <part name="parameters" element="tns:desplegarEstadosResponse" />
  </message>
  <message name="BackupUsuarios">
    <part name="parameters" element="tns:BackupUsuarios" />
  </message>
  <message name="BackupUsuariosResponse">
    <part name="parameters" element="tns:BackupUsuariosResponse" />
  </message>
  <message name="BackupAso">
    <part name="parameters" element="tns:BackupAso" />
  </message>
  <message name="BackupAsoResponse">
    <part name="parameters" element="tns:BackupAsoResponse" />
  </message>
  <message name="PublicarComentario">
    <part name="parameters" element="tns:PublicarComentario" />
  </message>
  <message name="PublicarComentarioResponse">
    <part name="parameters" element="tns:PublicarComentarioResponse" />
  </message>
  <message name="desplegarUS">
    <part name="parameters" element="tns:desplegarUS" />
  </message>
  <message name="desplegarUSResponse">
    <part name="parameters" element="tns:desplegarUSResponse" />
  </message>
  <portType name="webservice">
    <operation name="Registrarse">
      <input wsam:Action="http://webservice/webservice/RegistrarseRequest" message="tns:Registrarse" />
      <output wsam:Action="http://webservice/webservice/RegistrarseResponse" message="tns:RegistrarseResponse" />
    </operation>
    <operation name="IniciarSesion">
      <input wsam:Action="http://webservice/webservice/IniciarSesionRequest" message="tns:IniciarSesion" />
      <output wsam:Action="http://webservice/webservice/IniciarSesionResponse" message="tns:IniciarSesionResponse" />
    </operation>
    <operation name="PublicarEstado">
      <input wsam:Action="http://webservice/webservice/PublicarEstadoRequest" message="tns:PublicarEstado" />
      <output wsam:Action="http://webservice/webservice/PublicarEstadoResponse" message="tns:PublicarEstadoResponse" />
    </operation>
    <operation name="obtenerIDEst">
      <input wsam:Action="http://webservice/webservice/obtenerIDEstRequest" message="tns:obtenerIDEst" />
      <output wsam:Action="http://webservice/webservice/obtenerIDEstResponse" message="tns:obtenerIDEstResponse" />
    </operation>
    <operation name="obtenerIDUS">
      <input wsam:Action="http://webservice/webservice/obtenerIDUSRequest" message="tns:obtenerIDUS" />
      <output wsam:Action="http://webservice/webservice/obtenerIDUSResponse" message="tns:obtenerIDUSResponse" />
    </operation>
    <operation name="desplegarEstados">
      <input wsam:Action="http://webservice/webservice/desplegarEstadosRequest" message="tns:desplegarEstados" />
      <output wsam:Action="http://webservice/webservice/desplegarEstadosResponse" message="tns:desplegarEstadosResponse" />
    </operation>
    <operation name="BackupUsuarios">
      <input wsam:Action="http://webservice/webservice/BackupUsuariosRequest" message="tns:BackupUsuarios" />
      <output wsam:Action="http://webservice/webservice/BackupUsuariosResponse" message="tns:BackupUsuariosResponse" />
    </operation>
    <operation name="BackupAso">
      <input wsam:Action="http://webservice/webservice/BackupAsoRequest" message="tns:BackupAso" />
      <output wsam:Action="http://webservice/webservice/BackupAsoResponse" message="tns:BackupAsoResponse" />
    </operation>
    <operation name="PublicarComentario">
      <input wsam:Action="http://webservice/webservice/PublicarComentarioRequest" message="tns:PublicarComentario" />
      <output wsam:Action="http://webservice/webservice/PublicarComentarioResponse" message="tns:PublicarComentarioResponse" />
    </operation>
    <operation name="desplegarUS">
      <input wsam:Action="http://webservice/webservice/desplegarUSRequest" message="tns:desplegarUS" />
      <output wsam:Action="http://webservice/webservice/desplegarUSResponse" message="tns:desplegarUSResponse" />
    </operation>
  </portType>
  <binding name="webservicePortBinding" type="tns:webservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Registrarse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IniciarSesion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PublicarEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerIDEst">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerIDUS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="desplegarEstados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BackupUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BackupAso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PublicarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="desplegarUS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="webservice">
    <port name="webservicePort" binding="tns:webservicePortBinding">
      <soap:address location="http://localhost:8080/Proyecto-Java/webservice" />
    </port>
  </service>
</definitions>