Proyecto/Proyecto-APSNET/Proyecto-APSNET/Web References/webservice/webservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice/" targetNamespace="http://webservice/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IniciarSesion" type="tns:IniciarSesion" />
  <xs:element name="IniciarSesionResponse" type="tns:IniciarSesionResponse" />
  <xs:element name="Registrarse" type="tns:Registrarse" />
  <xs:element name="RegistrarseResponse" type="tns:RegistrarseResponse" />
  <xs:complexType name="IniciarSesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" type="xs:string" />
      <xs:element minOccurs="0" name="Contra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IniciarSesionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Registrarse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido" type="xs:string" />
      <xs:element minOccurs="0" name="Nacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" type="xs:string" />
      <xs:element minOccurs="0" name="Contra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>