Proyecto/Proyecto-APSNET/Proyecto-APSNET/Web References/webservice/webservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice/" targetNamespace="http://webservice/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BackupAso" type="tns:BackupAso" />
  <xs:element name="BackupAsoResponse" type="tns:BackupAsoResponse" />
  <xs:element name="BackupUsuarios" type="tns:BackupUsuarios" />
  <xs:element name="BackupUsuariosResponse" type="tns:BackupUsuariosResponse" />
  <xs:element name="COMENTARIODELUSUARIO" type="tns:COMENTARIODELUSUARIO" />
  <xs:element name="COMENTARIODELUSUARIOResponse" type="tns:COMENTARIODELUSUARIOResponse" />
  <xs:element name="COMENTARIOSDENUNCIADOS" type="tns:COMENTARIOSDENUNCIADOS" />
  <xs:element name="COMENTARIOSDENUNCIADOSResponse" type="tns:COMENTARIOSDENUNCIADOSResponse" />
  <xs:element name="CrearASO" type="tns:CrearASO" />
  <xs:element name="CrearASOResponse" type="tns:CrearASOResponse" />
  <xs:element name="CrearListaTAREA" type="tns:CrearListaTAREA" />
  <xs:element name="CrearListaTAREAResponse" type="tns:CrearListaTAREAResponse" />
  <xs:element name="CrearProyecto" type="tns:CrearProyecto" />
  <xs:element name="CrearProyectoResponse" type="tns:CrearProyectoResponse" />
  <xs:element name="CrearTarea" type="tns:CrearTarea" />
  <xs:element name="CrearTareaResponse" type="tns:CrearTareaResponse" />
  <xs:element name="DATOSUSUARIO" type="tns:DATOSUSUARIO" />
  <xs:element name="DATOSUSUARIOResponse" type="tns:DATOSUSUARIOResponse" />
  <xs:element name="DENUNCIACOMENTARIO" type="tns:DENUNCIACOMENTARIO" />
  <xs:element name="DENUNCIACOMENTARIOResponse" type="tns:DENUNCIACOMENTARIOResponse" />
  <xs:element name="DENUNCIAESTADO" type="tns:DENUNCIAESTADO" />
  <xs:element name="DENUNCIAESTADOResponse" type="tns:DENUNCIAESTADOResponse" />
  <xs:element name="DENUNCIAPROYECTO" type="tns:DENUNCIAPROYECTO" />
  <xs:element name="DENUNCIAPROYECTOResponse" type="tns:DENUNCIAPROYECTOResponse" />
  <xs:element name="DENUNCIATAREA" type="tns:DENUNCIATAREA" />
  <xs:element name="DENUNCIATAREAResponse" type="tns:DENUNCIATAREAResponse" />
  <xs:element name="ELIMINARAMIGO" type="tns:ELIMINARAMIGO" />
  <xs:element name="ELIMINARAMIGOResponse" type="tns:ELIMINARAMIGOResponse" />
  <xs:element name="ESTADODELUSUARIO" type="tns:ESTADODELUSUARIO" />
  <xs:element name="ESTADODELUSUARIOResponse" type="tns:ESTADODELUSUARIOResponse" />
  <xs:element name="ESTADOSDENUNCIADOS" type="tns:ESTADOSDENUNCIADOS" />
  <xs:element name="ESTADOSDENUNCIADOSResponse" type="tns:ESTADOSDENUNCIADOSResponse" />
  <xs:element name="HacerAmigo" type="tns:HacerAmigo" />
  <xs:element name="HacerAmigoResponse" type="tns:HacerAmigoResponse" />
  <xs:element name="IDCONTACTO" type="tns:IDCONTACTO" />
  <xs:element name="IDCONTACTOResponse" type="tns:IDCONTACTOResponse" />
  <xs:element name="IniciarSesion" type="tns:IniciarSesion" />
  <xs:element name="IniciarSesionResponse" type="tns:IniciarSesionResponse" />
  <xs:element name="LISTAAMIGOS" type="tns:LISTAAMIGOS" />
  <xs:element name="LISTAAMIGOSResponse" type="tns:LISTAAMIGOSResponse" />
  <xs:element name="LISTACOMENTARIOS" type="tns:LISTACOMENTARIOS" />
  <xs:element name="LISTACOMENTARIOSResponse" type="tns:LISTACOMENTARIOSResponse" />
  <xs:element name="LISTAESTADOS" type="tns:LISTAESTADOS" />
  <xs:element name="LISTAESTADOSResponse" type="tns:LISTAESTADOSResponse" />
  <xs:element name="LISTAPROYECTOS" type="tns:LISTAPROYECTOS" />
  <xs:element name="LISTAPROYECTOSResponse" type="tns:LISTAPROYECTOSResponse" />
  <xs:element name="LISTATAREAS" type="tns:LISTATAREAS" />
  <xs:element name="LISTATAREASResponse" type="tns:LISTATAREASResponse" />
  <xs:element name="ListaUS" type="tns:ListaUS" />
  <xs:element name="ListaUSResponse" type="tns:ListaUSResponse" />
  <xs:element name="MENSAJIN" type="tns:MENSAJIN" />
  <xs:element name="MENSAJINResponse" type="tns:MENSAJINResponse" />
  <xs:element name="ObtenerASO" type="tns:ObtenerASO" />
  <xs:element name="ObtenerASOResponse" type="tns:ObtenerASOResponse" />
  <xs:element name="ObtenerProyecto" type="tns:ObtenerProyecto" />
  <xs:element name="ObtenerProyectoResponse" type="tns:ObtenerProyectoResponse" />
  <xs:element name="ObtenerTarea" type="tns:ObtenerTarea" />
  <xs:element name="ObtenerTareaResponse" type="tns:ObtenerTareaResponse" />
  <xs:element name="PERTENECESA" type="tns:PERTENECESA" />
  <xs:element name="PERTENECESAResponse" type="tns:PERTENECESAResponse" />
  <xs:element name="PROYECTOSDENUNCIADOS" type="tns:PROYECTOSDENUNCIADOS" />
  <xs:element name="PROYECTOSDENUNCIADOSResponse" type="tns:PROYECTOSDENUNCIADOSResponse" />
  <xs:element name="PublicarComentario" type="tns:PublicarComentario" />
  <xs:element name="PublicarComentarioResponse" type="tns:PublicarComentarioResponse" />
  <xs:element name="PublicarEstado" type="tns:PublicarEstado" />
  <xs:element name="PublicarEstadoResponse" type="tns:PublicarEstadoResponse" />
  <xs:element name="Registrarse" type="tns:Registrarse" />
  <xs:element name="RegistrarseResponse" type="tns:RegistrarseResponse" />
  <xs:element name="TAREASDENUNCIADOS" type="tns:TAREASDENUNCIADOS" />
  <xs:element name="TAREASDENUNCIADOSResponse" type="tns:TAREASDENUNCIADOSResponse" />
  <xs:element name="TUSCOMPASSON" type="tns:TUSCOMPASSON" />
  <xs:element name="TUSCOMPASSONResponse" type="tns:TUSCOMPASSONResponse" />
  <xs:element name="USPROY" type="tns:USPROY" />
  <xs:element name="USPROYResponse" type="tns:USPROYResponse" />
  <xs:element name="USTAR" type="tns:USTAR" />
  <xs:element name="USTARResponse" type="tns:USTARResponse" />
  <xs:element name="US_ASO" type="tns:US_ASO" />
  <xs:element name="US_ASOResponse" type="tns:US_ASOResponse" />
  <xs:element name="VALIDARSOCIO" type="tns:VALIDARSOCIO" />
  <xs:element name="VALIDARSOCIOResponse" type="tns:VALIDARSOCIOResponse" />
  <xs:element name="desplegarEstados" type="tns:desplegarEstados" />
  <xs:element name="desplegarEstadosResponse" type="tns:desplegarEstadosResponse" />
  <xs:element name="desplegarUS" type="tns:desplegarUS" />
  <xs:element name="desplegarUSResponse" type="tns:desplegarUSResponse" />
  <xs:element name="obtenerIDEst" type="tns:obtenerIDEst" />
  <xs:element name="obtenerIDEstResponse" type="tns:obtenerIDEstResponse" />
  <xs:element name="obtenerIDUS" type="tns:obtenerIDUS" />
  <xs:element name="obtenerIDUSResponse" type="tns:obtenerIDUSResponse" />
  <xs:complexType name="USTAR">
    <xs:sequence>
      <xs:element name="Id_us" type="xs:int" />
      <xs:element name="Id_tar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="USTARResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTAPROYECTOS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTAPROYECTOSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TUSCOMPASSON">
    <xs:sequence>
      <xs:element minOccurs="0" name="aso" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TUSCOMPASSONResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicarComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" type="xs:string" />
      <xs:element name="IdUs" type="xs:int" />
      <xs:element name="IdEst" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicarComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PERTENECESA">
    <xs:sequence>
      <xs:element name="us" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PERTENECESAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DENUNCIATAREA">
    <xs:sequence>
      <xs:element name="Tarea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DENUNCIATAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IniciarSesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" type="xs:string" />
      <xs:element minOccurs="0" name="Contra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IniciarSesionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="US_ASO">
    <xs:sequence>
      <xs:element name="us" type="xs:int" />
      <xs:element name="aso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="US_ASOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerASO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerASOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COMENTARIOSDENUNCIADOS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="COMENTARIOSDENUNCIADOSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTAAMIGOS">
    <xs:sequence>
      <xs:element name="us" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTAAMIGOSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTAESTADOS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTAESTADOSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MENSAJIN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" type="xs:string" />
      <xs:element name="contact" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MENSAJINResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearListaTAREA">
    <xs:sequence>
      <xs:element name="Id_proy" type="xs:int" />
      <xs:element name="Id_tar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearListaTAREAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicarEstado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" type="xs:string" />
      <xs:element name="IdUs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicarEstadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="desplegarEstados">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="desplegarEstadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIDEst">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIDEstResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Registrarse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido" type="xs:string" />
      <xs:element minOccurs="0" name="Nacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" type="xs:string" />
      <xs:element minOccurs="0" name="Contra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DENUNCIAPROYECTO">
    <xs:sequence>
      <xs:element name="Proyecto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DENUNCIAPROYECTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerProyectoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTACOMENTARIOS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTACOMENTARIOSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DENUNCIACOMENTARIO">
    <xs:sequence>
      <xs:element name="Comentario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DENUNCIACOMENTARIOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARAMIGO">
    <xs:sequence>
      <xs:element name="us" type="xs:int" />
      <xs:element name="amigo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ELIMINARAMIGOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListaUS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListaUSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="desplegarUS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="desplegarUSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LISTATAREAS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="LISTATAREASResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearProyectoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALIDARSOCIO">
    <xs:sequence>
      <xs:element name="Usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VALIDARSOCIOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TAREASDENUNCIADOS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="TAREASDENUNCIADOSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerTarea">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerTareaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IDCONTACTO">
    <xs:sequence>
      <xs:element name="usuario" type="xs:int" />
      <xs:element name="amigo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IDCONTACTOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIDUS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIDUSResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COMENTARIODELUSUARIO">
    <xs:sequence>
      <xs:element name="us" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="COMENTARIODELUSUARIOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearTarea">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearTareaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HacerAmigo">
    <xs:sequence>
      <xs:element name="Id_us" type="xs:int" />
      <xs:element name="Id_amigo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HacerAmigoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BackupAso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="BackupAsoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESTADODELUSUARIO">
    <xs:sequence>
      <xs:element name="us" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESTADODELUSUARIOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BackupUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="BackupUsuariosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="USPROY">
    <xs:sequence>
      <xs:element name="Id_us" type="xs:int" />
      <xs:element name="Id_proy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="USPROYResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DATOSUSUARIO">
    <xs:sequence>
      <xs:element name="us" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DATOSUSUARIOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESTADOSDENUNCIADOS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ESTADOSDENUNCIADOSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROYECTOSDENUNCIADOS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="PROYECTOSDENUNCIADOSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DENUNCIAESTADO">
    <xs:sequence>
      <xs:element name="Estado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DENUNCIAESTADOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearASO">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="objetivo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrearASOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>