ProyectoIPC2/App_WebReferences/webservice/webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.webservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="webservice" targetNamespace="http://ws.webservice/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ProyectoIPC2/webservice?xsd=1" namespace="http://ws.webservice/" />
    </xsd:schema>
  </types>
  <message name="registrar">
    <part name="parameters" element="tns:registrar" />
  </message>
  <message name="registrarResponse">
    <part name="parameters" element="tns:registrarResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="suma">
    <part name="parameters" element="tns:suma" />
  </message>
  <message name="sumaResponse">
    <part name="parameters" element="tns:sumaResponse" />
  </message>
  <message name="autenticacion">
    <part name="parameters" element="tns:autenticacion" />
  </message>
  <message name="autenticacionResponse">
    <part name="parameters" element="tns:autenticacionResponse" />
  </message>
  <portType name="webservice">
    <operation name="registrar">
      <input wsam:Action="http://ws.webservice/webservice/registrarRequest" message="tns:registrar" />
      <output wsam:Action="http://ws.webservice/webservice/registrarResponse" message="tns:registrarResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://ws.webservice/webservice/helloRequest" message="tns:hello" />
      <output wsam:Action="http://ws.webservice/webservice/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="suma">
      <input wsam:Action="http://ws.webservice/webservice/sumaRequest" message="tns:suma" />
      <output wsam:Action="http://ws.webservice/webservice/sumaResponse" message="tns:sumaResponse" />
    </operation>
    <operation name="autenticacion">
      <input wsam:Action="http://ws.webservice/webservice/autenticacionRequest" message="tns:autenticacion" />
      <output wsam:Action="http://ws.webservice/webservice/autenticacionResponse" message="tns:autenticacionResponse" />
    </operation>
  </portType>
  <binding name="webservicePortBinding" type="tns:webservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="registrar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="suma">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="autenticacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="webservice">
    <port name="webservicePort" binding="tns:webservicePortBinding">
      <soap:address location="http://localhost:8080/ProyectoIPC2/webservice" />
    </port>
  </service>
</definitions>